@charset "utf-8";
/* CSS Document */
img{
	border:0px;	
}

.songTable{
	border:solid;
	border-width:thin;
}

.songTable td{
	border:thin;
	border-width:thin;
}

.songTableCommand{
	text-align:center;	
}