<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<style type="text/css">
</style>
<script type="text/javascript" src="../js/prototype.js"></script>
<script type="text/javascript" src="../js/effects.js"></script>
</head>

<body>
   
<a href="#" onclick="Effect.toggle('toggle_appear','blind', {scaleX: 'true', scaleY: 'true;', scaleContent: false}); return false;">Toggle the following paragraph with an 'appear'-effect</a>
<div id="toggle_appear" style="background:#ccc;display:none">
  <div></div>
</div>

	
</body>
</html>
